.main {
 .overlay {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   text-align: right;
   @include media-breakpoint-up(lg) {
     &:after {
       content: "";
       position: absolute;
       top: 0;
       right: -10%;
       width: 15%;
       height: 100%;
       z-index: 1;
       @supports (backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
       }
     }     
   }
   img {
     position: relative;
     width: 100%;
     left: 20%;
     text-align: right;
     max-width: 850px;
     @include media-breakpoint-up(md) {
       left: 40%;
     }
     @include media-breakpoint-up(lg) {
       width: 70%;
       max-width: 950px;
       top: 50px;
       left: 10%;
     }
     @include media-breakpoint-up(xl) {
       top: 100px;
       left: 15%;
     }
   }
 }
 &-legend {
   position: relative;
   @include media-breakpoint-up(lg) {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -50%;
      width: 200%;
      height: 300%;
      @supports (backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
      }
    }   
  }
   .text-plain {
     z-index: 1;
     background-color: $white;
     @include media-breakpoint-up(lg) {
      white-space: nowrap;
      background-color: transparent;
     }
   }
   hr {
     position: absolute;
     left: 0;
     top: 50%;
     margin: 0;
     width: 100%;
   }
  //  &:before {
  //    content: "";
  //    top: 50%;
  //    left: 0;
  //    position: absolute;
  //    width: 100%;
  //    height: $border-width;
  //    background-color: $gray-600;
  //    z-index: -1;
  //  }  
 }
 &-roadmap {
   &-step {
     position: relative;
     height: 100%;
     &:before {
       content: "";
       position: absolute;
       left: 10%;
       top: -40%;
       width: $border-width;
       height: 100%;
       background-color: $gray-400;
     }
     &:after {
      content: "";
      position: absolute;
      left: 10%;
      top: -3px;
      margin-left: -6px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 12px solid $white;
      filter: drop-shadow(0 0 1px $secondary);
      @include transition(0.3s $ease-out-cubic);
     }
     &:hover {
      &:after {
        border-top: 12px solid $secondary;
        filter: drop-shadow(0 0 3px $secondary);
      }
     }
     .bg-light {
       &:after {
        content: "";
        position: absolute;
        left: 10%;
        top: 100%;
        width: $border-width;
        height: 100%;
        background: repeating-linear-gradient(
          0deg,
          rgba($gray-400, 0),
          rgba($gray-400, 0) 5px,
          rgba($gray-400, 1) 5px,
          rgba($gray-400, 1) 10px
        ),
       }
     }
   }
 }
 &-event__label {
   position: absolute;
   top: -$spacer * 2;
   right: 0;
   text-align: center;
   background-color: $secondary;
   color: $white;
   z-index: 1;
 }
 &-slider {
  .splide__arrow {
    fill: $secondary;
    background: none;
    opacity: 1;
    @include media-breakpoint-up(lg) {
      &--prev {
        left: -10%;
      }
      &--next {
        right: -10%;
      }
    }
  }
  .splide__slide {
    @include media-breakpoint-down(sm) {
      height: auto!important;
    }
  }
  .splide__track {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: $border-width solid $secondary;
    }
  }
 }
} 