// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  position: relative;
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: rgba($body-color, 0.2);
  text-align: center;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  user-select: none;
  border: $btn-border-width solid $input-border-color;
  overflow: hidden;
  letter-spacing: 0.1em;
  background-color: $white;
  box-shadow: $btn-focus-box-shadow;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, 0);
  @include transition(0.3s $ease-out-cubic);
  .is-filled &,
  &:hover,
  &:focus,
  &.active {
    color: $body-color;
    text-decoration: none;
    background-size: 100% 100%;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
  .check {
    max-width: 15px;
    max-height: 10px;
    opacity: 0.2;
    .is-filled & {
      opacity: 1;
    }
  }
}
// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    border: none;
    @include button-variant($value, $value);
    @include box-shadow($btn-box-shadow, 0 4px 4px rgba($value, 0.5));
  }
}

// @each $color, $value in $theme-colors {
//   .btn-outline-#{$color} {
//     @include button-outline-variant($value);
//   }
// }

//
// Link buttons
//
// Make a button look and behave like a link
.btn-to-top {
  position: fixed;
  right: $spacer;
  bottom: -$spacer * 5;
  z-index: $zindex-fixed;
  &.is-show {
    bottom: $spacer;
  }
  span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid $white;
    @include transition(0.3s $ease-out-cubic);
  }
}
.btn-close,
.link-close {
  border: none;
  background-color: transparent;
  @include transition(0.3s $ease-out-cubic);
  cursor: pointer;
  transform: scale(1);
  &:hover {
    transform: scale(0.9);
  }
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-line-height-lg,
    0
  );
}

.btn-sm {
  letter-spacing: 0;
  font-weight: 400;
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-line-height-sm,
    0
  );
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y * 2;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
